

#carouselExample{
    display: flex;
    /* flex: 1; */
    justify-content: center;
}

.slide{
    flex: 1;
    display: flex;
    justify-content: center;
}


img{
    max-width: 100%;
    width: 40%;
    height: auto;
}


.carousel-inner {
    position: relative;
    display: flex;
    text-align: center;
    }


    .header {
        display: flex;
        border-top: solid 1px rgb(100, 100, 100);
        border-bottom: solid 1px rgb(100, 100, 100);
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
        position: relative; /* Add this line */
    } 

/* Styles for desktop */
@media (max-width: 767px) {
    .desktop-only {
        display: none; /* Hide on mobile */
    }
}

/* Styles for mobile */
@media (min-width: 768px) {
    .mobile-only {
        display: none; /* Hide on desktop */
    }
}

.main{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
}


@media (min-width: 768px) {
    .body {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        padding-top: 100px;
        position: fixed;
    }
}


/* Styles for mobile devices */
@media (max-width: 767px) {
    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding-top: 100px;
        position: fixed;
    }
}

/* Normal navigation for desktop */
#desktop-nav {
    display: flex;
    justify-content: space-around;
}

/* Mobile dropdown navigation - hidden by default */
#mobile-nav {
    display: none;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    /* Hide desktop navigation */
    #desktop-nav {
        display: none;
    }

    /* Show mobile dropdown navigation */
    #mobile-nav {
        display: block;
        
    }
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Position the dropdown below the button */
    left: 0; /* Align dropdown to the left */
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
